@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgba(0, 0, 255, 0.413);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30vh;
}

header .img-header {
  width: 200px;
}

header .titulo {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
}

header .nav-header .ul-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

header .nav-header .ul-header .li-header {
  text-decoration: none;
  list-style-type: none;
}

.foto-banner {
  width: 100%;
}

.foto-banner .img-banner {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  width: 100%;
}

main .containerSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 255, 0.253);
}

main .titlehere {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-weight: bold;
}

main .div-inputFiltro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 20px;
}

main label {
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
  cursor: pointer;
}

main #filtrar-tabela {
  font-weight: bold;
  font-size: 15px;
  width: 250px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
}

main table {
  width: 800px;
  border: 1px solid white;
  padding: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main table thead {
  color: white;
}

main table tbody {
  color: white;
  text-align: center;
}

main table tr,
main table td {
  border: 1px solid;
}

main .invisivel {
  display: none;
}

main .btn-addPacientes {
  padding-left: 20px;
  margin: 20px;
}

main #buscar-pacientes {
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

main .paciente-invalido {
  background-color: lightcoral;
}

main #mensagens-erro {
  color: lightcoral;
  font-weight: bold;
  font-size: x-large;
}

main .fadeOut {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #filtrar-tabela {
  width: 180px;
  height: 25px;
  border-radius: 4px;
  margin: 10px;
}

main .invisivel {
  display: none;
}
/*# sourceMappingURL=style.css.map */