@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #fda800;
  display: flex;
  justify-content: space-between;
  // gap: 200px;
  height: 30vh;
  text-decoration: none;
  list-style-type: none;

  .img-header {
    width: 200px;
  }

  .titulo {
    color: white;
    align-self: center;
  }

  .nav-header {
    display: flex;
    padding-right: 50px;

    .ul-header {
      display: flex;
      gap: 30px;
      align-items: center;
      color: white;
      font-weight: bold;
      cursor: pointer;

      .li-header {
        text-decoration: none;
        list-style-type: none;

        a{
          text-decoration: none;
          list-style-type: none;
          color: white;
        }
      }
    }
  }
}

.foto-banner {
  // width: 100%;
  background-color:#fda900a5;
 
  .img-banner {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

main {
  width: 100%;

  .containerSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fda900a5;

    .titlehere {
      justify-content: center;
      align-items: center;
      align-self: center;
      color: white;
      font-weight: bold;
    }

    .div-inputFiltro {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      padding: 20px;

      label {
        font-weight: bold;
        color: white;
        margin-bottom: 8px;
        cursor: pointer;
        align-self: center;
      }

      #filtrar-tabela {
        font-weight: bold;
        font-size: 15px;
        width: 250px;
        border-radius: 5px;
        margin-bottom: 20px;
        padding-left: 10px;
      }
    }

    table {
      width: 800px;
      border: 1px solid white;
      padding: 40px;
      align-self: center;

      thead {
        color: white;
      }

      tbody {
        color: white;
        text-align: center;
      }

      tr,
      td {
        border: 1px solid;
      }
    }

    .invisivel {
      display: none;
    }

    .btn-addPacientes {
      padding-left: 20px;
      margin: 20px;
    }

    #buscar-pacientes {
      width: 150px;
      height: 30px;
      border-radius: 5px;
    }
  }
}

.paciente-invalido {
  background-color: lightcoral;
}

#mensagens-erro {
  color: lightcoral;
  font-weight: ligth;
  font-size: large;
  margin: 20px;
}

.fadeOut {
  opacity: 0;
  transition: 0.5s;
}

#filtrar-tabela {
  width: 180px;
  height: 25px;
  border-radius: 4px;
  margin: 10px;
}

.invisivel {
  display: none;
}

.container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fda900a5;

  #titulo-form {
    text-align: center;
    color: white;
  }

  #form-adiciona {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    .inputsForm{
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      gap: 10px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px;
    }

    .grupo{
      // width: 100%;
      text-align: center;
      // margin: 10px;
      

      label{
        color: white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      input[type="text"]{
        width: 250px;
        border-radius: 5px;
        justify-content: center;
        font-weight: bold;
      }

    }

    #adicionar-paciente{
      justify-content: center;
      width: 100px;
      height: 35px;
      align-self: center;
      cursor: pointer;
      border-radius: 5px;
    }

  }
}


footer{
  background-color: #fda800;
  width: 100%;
  height: 150px;
  display:flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  color: white;
  font-weight: bold;

  img{
    max-width: 50px;
  }

}
